
<script>
 function generateImage (req, res) {
    console.log('generate image')
   console.log(localStorage.getItem("id"));
   
}


function downloadImage(){
    // const basePath = process.cwd();
    // const buildDir = `${basePath}/build`;
    const user_id = localStorage.getItem('user_id')

    const folderName = `../build/images/user_${user_id}`;
    console.log('folderName ----> ', folderName);
    const data = fs.readdirSync(folderName);
    console.log('data ----> ', data);
    const url = data[0];
    const name = 'image.jpg';
    fetch(url)
        .then(resp => resp.blob())
        .then(blob => {
            const url1 = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url1;
            // the filename you want
            a.download = name;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url1);
        })
        .catch(() => alert('An error sorry'));
}
</script>

<button onclick="downloadImage();">download</button>